body{
   font-family: 'Lato', sans-serif;
   font-family: 'Open Sans', sans-serif;
}

/* navbar section */
.line{
   border: 1px solid black;
}
.navbar{
   display: flex;
   justify-content: space-evenly;
   background-color:rgba(130, 165, 70, 0.824);

   
}
.right-nav{
   display: flex;
   align-items: center;
   color: white;
}
.navbar-img{
   height: 80px;
   width: 80px;
}
.left-nav{
   display: flex;
gap: 50px;
}
.left-nav>a{
   flex-direction: row;
text-decoration: none;
color: white;
}
/* navbar end */

/* banner section */
.banner{
    height: 480px;
    width: 100%;
    background-color: darkkhaki;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 40px;
 }
 .banner-discription{
    background-image: url('./img/slider-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 100px 120px ;
    color:white;
    position: relative; 
 }

.banner-div{
   height: 600px;
   width: 100%;
   background-color:rgba(85, 107, 47, 0.824);
}
.banner-img{
   height: 600px;
   width: 100%;
   padding: 30px;

}

 .banner-discription p{
    font-size: 12px;
    color: cornsilk;
 
 }
 .banner-discription h2{
    color:navajowhite;
 }
 
 .banner-discription button{
    color: #333;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    background-color: burlywood;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
 }
 .rounded-circle{
   width: 20px;
   height: 20px;
   background-color: #fffe04;
 }
 .rounded-white{
width: 20px;
height: 20px;
border: 2px solid white;
border-radius: 50px;

 }
 /* banner section end */


/* what we offer section */

.what-section{
   padding-top: 70px;
   width: 70%;
   margin-left: auto;
   margin-right: auto;

}

.offer-icon{
   height: 70px;
}
.img{
   background-color: gray;
   height: 100px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.description{
   font-size: 14px;
}

 /* a few words section */
 .few-words{
   display: flex;
   margin-top: 70px;
   background-color:rgb(230, 225, 225);
}

.few-words-description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 100px;

}
.button{
   background-color: yellow;
   border: none;
   border-radius: 8px;
   padding: 15px;
}
/* a few words section end */

/* carousel section */
.carousel{
   margin-top: 70px;
   text-align: center;
}
.carousel-title{
   font-weight: 700;
}
.carousel-img{
   width: 90px;
}
.carousel-description{

   padding-left: 200px;
   padding-right: 200px;
}
.icon{
   background-color: black;
   border-radius: 7px;
}
/* carousel section end */

/* call back section */
.contact {
   background-color: #90973b;
   text-align: center;
}

.form {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.call-back {
   color: white;
}

.left {
   width: 400px;
}

.right {
   width: 400px;
}

.input {
   width: 80%;
   border-radius: 15px;
   border: none;
   padding-left: 12px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.sent-btn {
   border-radius: 15px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: 35px;
   background-color: red;
   border: none;
   color: white;
}

.btn-div {
   display: flex;
}
/* call back section end */

 /* footer section */
footer {
   background-color: #252525;
}
.footer-img{
   height: 80px;
   width: 80px;
   border-radius: 8px;
}

.little-fotter {
   background-color: #252525;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-title {
   margin-left: 100px;
   width: 50%;
}

.footer-input {
   width: 50%;
   display: flex;
}

.sub-btn {
   border-radius: 15px;
   border: none;
   padding-left: 12px;
   padding-right: 12px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #fffe04;
}

.f-input {
   position: relative;
   width: 600px;
   border-radius: 15px;
   border: none;
   padding-left: 12px;
   padding-top: 6px;
   padding-bottom: 6px;
}

.footer-description-main-div {
   background-color: #252525;
   color: white;
   width: 70%;
   gap: 30px;
   margin-top: 22px;
}

.footer-description-div {
   width: 35%;
}

.imgs img {
   background-color: white;
}

.imgs h6 {
   margin-top: 15px;
}

.imgs {
   display: flex;
   align-items: center;
}


.last-sectioin {
   color: white;
   text-align: center;
   background-color: #90973b;
   padding-top: 15px;
   padding-bottom: 1px;
}
/* footer section end */